---
const { status } = Astro.props;
const status_color = {
    pending: 'bg-gray-100 dark:bg-gray-700',
    accepted: 'bg-green-100 dark:bg-green-700',
    rejected: 'bg-red-100 dark:bg-red-700',
}

---

<div class={`px-2 py-1 ${status_color[status]} rounded-full text-xs`}>
    {status.charAt(0).toUpperCase() + status.slice(1)}
</div>