---
import { SignedIn, SignedOut, SignInButton, SignUpButton, UserButton } from '@clerk/astro/components';
import ThemeToggle from '@/components/ui/ThemeToggle.astro';
---

<header class="flex items-center justify-between px-4 md:px-36 py-4 border-b border-gray-200 dark:border-gray-700">
    <a href="/" class="text-lg md:text-xl font-bold">Hackathon Team Matcher</a>

    <div class="flex items-center gap-x-3">
        <!-- Mobile menu -->
        <section class="flex md:hidden gap-x-3 order-1 md:order-0">
            <UserButton />
            <button class="cursor-pointer" aria-label="Open menu">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
                </svg>
            </button>
            <dialog class="bg-transparent size-full top-0 right-0 max-h-full max-w-full backdrop:bg-gray-900/70 transition-discrete starting:open:translate-x-full translate-x-full open:translate-x-0 duration-300">
                <div class="light-dark-theme h-full w-4/5 ml-auto p-4 flex flex-col gap-y-2">
                    <button class="cursor-pointer self-end outline-none close-menu-button" aria-label="Close menu">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                    <SignedOut>
                        <ul class="flex flex-col gap-y-4">
                            <SignInButton mode="modal" class={"cursor-pointer w-fit close-menu-button"}>
                                Log in
                            </SignInButton>
                            <SignUpButton mode="modal" signInFallbackRedirectUrl="/profile" fallbackRedirectUrl="/profile" class={"cursor-pointer w-fit close-menu-button"}>
                                Sign up
                            </SignUpButton>
                        </ul>
                    </SignedOut>
                    <SignedIn>
                        <ul class="flex flex-col gap-y-4">
                            <a href="/" class="cursor-pointer close-menu-button">
                                Home
                            </a>
                            <a href="/profile" class="cursor-pointer close-menu-button">
                                Profile
                            </a>
                            <a href="/find-teammates" class="cursor-pointer close-menu-button">
                                Find Teammates
                            </a>
                        </ul>
                    </SignedIn>
                </div>
            </dialog>
        </section>

        <!-- Desktop menu -->
        <section class="hidden md:flex items-center gap-x-3">
            <SignedOut>
                <SignInButton mode="modal" class={"cursor-pointer"}>
                    Log in
                </SignInButton>
                <SignUpButton mode="modal" signInFallbackRedirectUrl="/profile" fallbackRedirectUrl="/profile" class={"cursor-pointer"}>
                    Sign up
                </SignUpButton>
            </SignedOut>
        
            <SignedIn>
                <div class="hidden md:flex items-center gap-x-3 font-normal">
                    <a href="/" class="cursor-pointer">
                        Home
                    </a>
                    <a href="/profile" class="cursor-pointer">
                        Profile
                    </a>
                    <a href="/find-teammates" class="cursor-pointer">
                        Find Teammates
                    </a>
                    <a href="/connection-requests" class="cursor-pointer">
                        Connection Requests
                    </a>
                    <UserButton showName appearance={{
                        elements: {
                            userButtonOuterIdentifier: {
                                fontSize: '1rem',
                                fontWeight: 'normal',
                                paddingLeft: 0,
                                color: 'black',
                                '.dark &': {
                                    color: 'white',
                                }
                            },
                        }
                    }}></UserButton>
                </div>
            </SignedIn>
        </section>

        <!-- Theme toggle -->
        <ThemeToggle classList={"order-0 md:order-1"} />
    </div>
</header>

<script is:inline>
    const menuButton = document.querySelector('button');
    const closeMenuButtons = document.querySelectorAll('.close-menu-button');
    const dialog = document.querySelector('dialog');

    menuButton.addEventListener('click', () => {
        dialog.showModal();
        document.body.classList.add('overflow-hidden');// Prevent scrolling when menu is open
    });

    closeMenuButtons.forEach(button => {
        button.addEventListener('click', () => {
            dialog.close();
            document.body.classList.remove('overflow-hidden');// Allow scrolling when menu is closed
        });
    });
</script>