---
import { SignedIn, SignedOut, SignInButton, SignUpButton, UserButton } from '@clerk/astro/components';
---

<header class="flex items-center justify-between px-36 py-4">
    <h1>Hackathon Matcher</h1>

    <section>
        <SignedOut>
            <SignInButton mode="modal">
                Log in
            </SignInButton>
            <SignUpButton mode="modal" signInFallbackRedirectUrl="/profile" fallbackRedirectUrl="/profile">
                Sign up
            </SignUpButton>
        </SignedOut>
    
        <SignedIn>
            <div class="flex items-center gap-x-3">
                <a href="/profile">
                    Profile
                </a>
                <UserButton showName></UserButton>
            </div>
        </SignedIn>
    </section>
</header>