---
import SunIcon from '@/components/icons/SunIcon.astro';
import MoonIcon from '@/components/icons/MoonIcon.astro';

const { classList } = Astro.props;
---
<div id="theme-toggler" class={classList}>
    <MoonIcon />
    <SunIcon />
</div>

<script is:inline>
    // Store initial theme based on system preference
    const currentTheme = (() => {
        const storedTheme = localStorage.getItem('theme');
        if(['dark', 'light'].includes(storedTheme)){
            return storedTheme;
        }

        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
    })();

    currentTheme === 'dark'
        ? document.documentElement.classList.add('dark')
        : document.documentElement.classList.remove('dark');
    toggleIcons();


    function toggleTheme(){
        document.documentElement.classList.toggle('dark');
        const isDark = document.documentElement.classList.contains('dark');
        localStorage.setItem('theme', isDark ? 'dark' : 'light');

        toggleIcons();
    }

    function toggleIcons(){
        const isDark = document.documentElement.classList.contains('dark');
        const theme = isDark ? 'dark' : 'light';
        const themeToToggle = isDark ? 'light' : 'dark';

        document.querySelector(`.${ theme }-theme-icon`).style.display = 'none';
        document.querySelector(`.${ themeToToggle }-theme-icon`).style.display = 'block';
    }

    document.getElementById('theme-toggler')?.addEventListener('click', toggleTheme);
</script>